:root {
    --accent: #52b60f;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-image: url("bg.jpg");
    background-size: 100%;
}


.schedule {
    position: absolute;
    top: 50%;
    left: 12.5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-collapse: collapse;
    width: 75%;
    text-align: center;
    -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
    font-weight: bold;
}

.schedule td, .schedule th {
    border: 1px double black;
    padding: 2em;
}

.schedule tr {
    background-color: white;
}

.schedule th, .schedule tr td:nth-child(1) {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--accent);
    color: white;
}